<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCall.getData()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">getData</td> 
  <td>main@315860201</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:50</td>   <td>1862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCall.getDataFromPojo()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">getDataFromPojo</td> 
  <td>main@315860201</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:52</td>   <td>3293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCall.putData()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">putData</td> 
  <td>main@315860201</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:48</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetCall.setUp()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315860201</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:50</td>   <td>1862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetCall.setUp()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315860201</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>20/06/09 17:42:52</td>   <td>3292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetCall.setUp()[pri:0, instance:restAssuredDemocom.qa.testAPI.GetCall@3b2c72c2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@315860201</td>   <td></td> </tr>
</table>
